.lol {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: 45vh;
  margin: 20px;
}

.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 15vh;
}
.search-container input {
  width: 50%;
}
